{{> layouts/layout }}
<div class="container">
    <h1>Lista de Produtos</h1>
    <a href="/products/create">Cadastrar Produto</a>
    <ul>
        {{#products}}
        <li>
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <p>Preço: R$ {{price}}</p>
            <a href="/products/edit/{{id}}">Editar</a>
            <form action="/products/delete/{{id}}" method="post" style="display:inline;">
                <button type="submit">Excluir</button>
            </form>
        </li>
        {{/products}}
    </ul>
</div>